In [1]:
import numpy as np
import pandas as pd

In [5]:
def func(x1,x2,x3,x4):
    w1,w2,w3,w4,b = 0.1,10,10089,99,15
    return w1*np.power(x1,2) + w2*x2 + w3*np.power(x3,0.5) - w4*x4 + b

In [6]:
data = []
samples = 1000

for i in range(samples):
    x1 = np.random.uniform(100,300)
    x2 = np.random.uniform(67,76)
    x3 = np.random.uniform(1000,2450)
    x4 = np.random.uniform(10,100)
    
    data.append({'x1':x1, 'x2':x2, 'x3':x3, 'x4':x4, 'y':func(x1,x2,x3,x4)})

In [8]:
df = pd.DataFrame(data)
df.head()

           x1         x2           x3         x4              y
0  174.509201  75.671515  1663.349303  81.145743  407255.220306
1  220.769442  72.303253  1748.903590  25.827367  424975.955168
2  128.831034  73.176845  2056.125568  10.005349  458896.852894
3  165.007266  72.578671  1339.268965  60.806274  366660.990447
4  197.030909  67.574451  1845.152762  81.675838  429862.384695

In [10]:
df.to_csv('sample_data.csv')